<div class="container">
  <h1>I'm coach Vahid, ask me something!</h1>
  <%=image_tag 'vahid.jpeg', :class => "img_preview"%>
  <form action="/answer">
    <div>
      <input type="text" name="question" placeholder="Ask me something" class="input-field">
    </div>
    <div>
    <input type="submit" value="Ask!" class="btn-ask">
    </div>
  </form>
</div>
